h1 {
    color: black;
}
body {
    background-color:cyan;
}

h2 {
    color: blueviolet;
}
.divProductos {
    color: brown;
}
.textCenter {
    text-align: center;
    
}

ul {
    list-style-type: none;
}
