body {
    background-image: url(../imagenes/fondo.jpg);
}

h1 {
    color: black;
}

body {
    background-color:aqua;
}

h2 {
    color: blanchedalmond;
}

.divProductos {
    color:crimson;
}

.textCenter {
    text-align: center;

}

ul {
    list-style-type: none;
}